<div class="wrapper">
  <div class="content">
    <div class="heading">
      {{ title }}
    </div>
    <div class="values">
      <ng-container *ngFor="let item of variables">
        <div class="value-container">
          <input type="text" [(ngModel)]="item.name" />
          <input type="number" [(ngModel)]="item.value" />
        </div>
      </ng-container>
    </div>
    <button class="update-btn" (click)="updateValues()">Update</button>
    <div class="table">
      <div class="placeholder" *ngIf="!isTableLoaded">Loading ...</div>
      <table *ngIf="isTableLoaded">
        <tr>
          <th>Name</th>
          <th>Value 1</th>
          <th>Value 2</th>
          <th>Value 3</th>
          <th>Value 4</th>
          <th>Value 5</th>
          <th>Total</th>
        </tr>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td *ngFor="let record of row | keyvalue">
              {{
                record.key === "col1"
                  ? record.value
                  : (record.value | number: "1.2-2")
              }}
            </td>
          </tr>
          <tr>
            <td>Sum</td>
            <td *ngFor="let record of columnSum | keyvalue">
              {{
                record.key === "col1"
                  ? record.value
                  : (record.value | number: "1.2-2")
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
